.MainImage {
  display: flex;
  height: 8rem;
  width: auto;

  .MainImageZoom {
    height: 8rem;
    width: auto;

  }

  img {
    object-fit: contain;
    background-color: red;
    padding: .1rem;
    vertical-align: middle;
    justify-content: center;
    height: auto;
    width: 100%;
  }
}

// .zoom-background {
//   position: absolute; top: 0; left: 0;
//   height: 100%; width: 100%;
//   background-size: cover; background-position: 50% 50%;
//   transition: transform 0.3s ease-in-out;

//   &:hover {
//     @extend .zoom-background-hover;
//   }
// }

// .zoom-background-hover {
//   transform: scale(1.05);
//   transition-duration: 0.5s;
// }