.MainImage {
  display: flex;
  height: 8rem;
  width: auto;

  .MainImageZoom {
    height: 8rem;
    width: auto;

  }

  img {
    object-fit: contain;
    padding: .1rem;
    vertical-align: middle;
    justify-content: center;
    height: auto;
    width: 100%;
  }

  .carouselRight {
    padding-top: 250px;
    margin: 3px;
    border-radius: 50%;
    opacity: 60%;
    .button {
      background-color: gray;
      border-radius: 50%;
      width: 30px;
      height: auto;
      width: 30px;
      padding: 12px 0;
    }
  }

  .carouselLeft {
    padding-top: 250px;
    margin: 3px;
    border-radius: 50%;
    opacity: 60%;
    .button {
      background-color: gray;
      border-radius: 50%;
      width: 30px;
      height: auto;
      width: 30px;
      padding: 12px 0;
    }
  }

}